In [11]:
from sklearn import svm

In [2]:
X = [[0,0],[1,1]]
Y = [0,1]

In [4]:
clf=svm.SVC()
clf.fit(X,Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [6]:
Y_ = clf.predict([[0,0],[1,1],[0,1],[1,0]])
Y_

array([0, 1, 1, 1])

In [7]:
X = [[0,0],[1,1],[0,1],[1,0]]
Y = [0,0,1,1]

In [8]:
clf=svm.SVC()
clf.fit(X,Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [9]:
Y_ = clf.predict([[0,0],[1,1],[0,1],[1,0]])
Y_

array([0, 0, 1, 1])

In [44]:
import pandas as pd

In [45]:
ds=pd.read_csv("adult.csv")
ds

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [46]:
# df = pd.DataFrame(iris)
# X = df[["sepal_length","sepal_width","petal_length","petal_width"]]
# Y = df["class"]
# type(X)
# X

In [47]:
# Y

In [74]:
X = ds.iloc[0:100,0:5]
Y = ds.iloc[0:100:,14]
type(X)

pandas.core.frame.DataFrame

In [75]:
X

    39          State-gov   77516      Bachelors   13
0   50   Self-emp-not-inc   83311      Bachelors   13
1   38            Private  215646        HS-grad    9
2   53            Private  234721           11th    7
3   28            Private  338409      Bachelors   13
4   37            Private  284582        Masters   14
..  ..                ...     ...            ...  ...
95  48   Self-emp-not-inc  191277      Doctorate   16
96  37            Private  202683   Some-college   10
97  48            Private  171095     Assoc-acdm   12
98  32        Federal-gov  249409        HS-grad    9
99  76            Private  124191        Masters   14

[100 rows x 5 columns]

In [76]:
Y

0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
       ...
95      >50K
96      >50K
97     <=50K
98     <=50K
99      >50K
Name:  <=50K, Length: 100, dtype: object

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [82]:
clf = svm.SVC().fit(X,Y)

ValueError: could not convert string to float: ' Masters'

In [66]:
clf.fit(X,Y)

NameError: name 'clf' is not defined

In [32]:
clf.predict([[6.7,3.3,5.7,2.5]])

array(['Iris-virginica'], dtype=object)

In [42]:
clf.predict([[5.7,4.3,6.7,2.8]])

array(['Iris-virginica'], dtype=object)