In [2]:
from sklearn import svm

In [3]:
import pandas as pd

In [4]:
ds=pd.read_csv("adult.csv")
ds

      0.455  0.365  0.095   0.514  0.2245   0.101    0.15  15
0     0.350  0.265  0.090  0.2255  0.0995  0.0485  0.0700   7
1     0.530  0.420  0.135  0.6770  0.2565  0.1415  0.2100   9
2     0.440  0.365  0.125  0.5160  0.2155  0.1140  0.1550  10
3     0.330  0.255  0.080  0.2050  0.0895  0.0395  0.0550   7
4     0.425  0.300  0.095  0.3515  0.1410  0.0775  0.1200   8
...     ...    ...    ...     ...     ...     ...     ...  ..
4171  0.565  0.450  0.165  0.8870  0.3700  0.2390  0.2490  11
4172  0.590  0.440  0.135  0.9660  0.4390  0.2145  0.2605  10
4173  0.600  0.475  0.205  1.1760  0.5255  0.2875  0.3080   9
4174  0.625  0.485  0.150  1.0945  0.5310  0.2610  0.2960  10
4175  0.710  0.555  0.195  1.9485  0.9455  0.3765  0.4950  12

[4176 rows x 8 columns]

In [46]:
# df = pd.DataFrame(iris)
# X = df[["sepal_length","sepal_width","petal_length","petal_width"]]
# Y = df["class"]
# type(X)
# X

In [47]:
# Y

In [74]:
X = ds.iloc[0,0:5]
Y = ds.iloc[0:,14]
type(X)

pandas.core.frame.DataFrame

In [75]:
X

    39          State-gov   77516      Bachelors   13
0   50   Self-emp-not-inc   83311      Bachelors   13
1   38            Private  215646        HS-grad    9
2   53            Private  234721           11th    7
3   28            Private  338409      Bachelors   13
4   37            Private  284582        Masters   14
..  ..                ...     ...            ...  ...
95  48   Self-emp-not-inc  191277      Doctorate   16
96  37            Private  202683   Some-college   10
97  48            Private  171095     Assoc-acdm   12
98  32        Federal-gov  249409        HS-grad    9
99  76            Private  124191        Masters   14

[100 rows x 5 columns]

In [76]:
Y

0      <=50K
1      <=50K
2      <=50K
3      <=50K
4      <=50K
       ...
95      >50K
96      >50K
97     <=50K
98     <=50K
99      >50K
Name:  <=50K, Length: 100, dtype: object

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [82]:
clf = svm.SVC().fit(X,Y)

ValueError: could not convert string to float: ' Masters'

In [66]:
clf.fit(X,Y)

NameError: name 'clf' is not defined

In [32]:
clf.predict([[6.7,3.3,5.7,2.5]])

array(['Iris-virginica'], dtype=object)

In [42]:
clf.predict([[5.7,4.3,6.7,2.8]])

array(['Iris-virginica'], dtype=object)